@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan/Yekan.woff2') format('woff2'),
        url('./fonts/Yekan/Yekan.woff') format('woff'),
        url('./fonts/Yekan/Yekan.ttf') format('ttf'),
        url('./fonts/Yekan/Yekan.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    direction: rtl;
    font-family: 'Yekan', sans-serif;
}

.scrollbar-minimal {
    scrollbar-width: thin;
    scrollbar-color: #07cb8d #fff;
}

.scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-minimal::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
    background: #07cb8d;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background: #07cb8d;
    transform: scale(1.1);
}