@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan/Yekan.woff2') format('woff2'),
        url('./fonts/Yekan/Yekan.woff') format('woff'),
        url('./fonts/Yekan/Yekan.ttf') format('ttf'),
        url('./fonts/Yekan/Yekan.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    direction: rtl;
    font-family: 'Yekan', sans-serif;
}